.example3one {
    
    background-color:gold;
    width:100px;
    height:50px;

}
.example3two {
    
    background-color:Crimson ;
    width:200px;
    height:200px;
	border-radius: 50%;

}